body{
  display: flex;
  flex-flow: row wrap;
  place-content: center;
  align-items: center;
  font-family: 'Roboto', monospace;
  header{
    width: 100%;
    height: 100%;
    background-size: cover;
    color: black;
    display: flex;
    place-content: center;
    align-items: center;
    flex-flow: column wrap;
    .top-carusel{
      margin: 0 auto;
      width: 80%;
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      place-content: center;
      gap: 2rem;
      >:nth-child(1){
        width: 100%;
        max-width: 300px;
        display: flex;
        flex-flow: column wrap;
        img{
          width: 100%;
        }
      }
      h2, span{
        all: unset;
        font-size: 22px;
      }
      h2{
        font-size: 28px;
        font-weight: 800;
      }
    }
    .carousel-container{
      width: 100%;
      max-width: 450px;
      overflow: hidden;
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;
      position: relative;
      text-align: center;
      gap: 5.5rem;
      cursor: #474747;
      .carousel{
        display: flex;
        height: 100%;
        transition: transform .5s ease;
        z-index: 100;
        .slide{
          width: 450px;
          display: flex;
          place-content: center;
          align-items: center;
          p{
            all: unset;
            font-size: 25px;
          }
        }
      }
      .carousel-indicator{
        display: flex;
        place-content: center;
        position: absolute;
        width: 100%;
        bottom: -5px;
        z-index: 1000;
        .indicator-dot{
          width: 85px;
          height: 85px;
          background: url('../IMG/flower.png') center no-repeat;
          background-size: contain;
          cursor: pointer;
          background-size: cover;
          transition: .5s;
        }
        .indicator-dot.active{
          background: url('../IMG/flowerChecked.png') center no-repeat;
          background-size: contain;
          cursor: pointer;
          background-size: cover;
          transition: .5s;
        }
      }
      .prev-button, .next-button{
        visibility: hidden;
        opacity: 0;
      }
    } 
  }
}