body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  place-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", monospace;
}
body header {
  width: 100%;
  height: 100%;
  background-size: cover;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}
body header .top-carusel {
  margin: 0 auto;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  place-content: center;
  gap: 2rem;
}
body header .top-carusel > :nth-child(1) {
  width: 100%;
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}
body header .top-carusel > :nth-child(1) img {
  width: 100%;
}
body header .top-carusel h2, body header .top-carusel span {
  all: unset;
  font-size: 22px;
}
body header .top-carusel h2 {
  font-size: 28px;
  font-weight: 800;
}
body header .carousel-container {
  width: 100%;
  max-width: 450px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  text-align: center;
  gap: 5.5rem;
  cursor: #474747;
}
body header .carousel-container .carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  z-index: 100;
}
body header .carousel-container .carousel .slide {
  width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body header .carousel-container .carousel .slide p {
  all: unset;
  font-size: 25px;
}
body header .carousel-container .carousel-indicator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
  position: absolute;
  width: 100%;
  bottom: -5px;
  z-index: 1000;
}
body header .carousel-container .carousel-indicator .indicator-dot {
  width: 85px;
  height: 85px;
  background: url("../IMG/flower.png") center no-repeat;
  background-size: contain;
  cursor: pointer;
  background-size: cover;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
body header .carousel-container .carousel-indicator .indicator-dot.active {
  background: url("../IMG/flowerChecked.png") center no-repeat;
  background-size: contain;
  cursor: pointer;
  background-size: cover;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
body header .carousel-container .prev-button, body header .carousel-container .next-button {
  visibility: hidden;
  opacity: 0;
}