body{
  display: flex;
  flex-flow: row wrap;
  font-size: 16px;
  font-family: 'Roboto', monospace;
  scroll-behavior: smooth;
  overflow: hidden;
}

header{
  width: 100%;
  height: 100vh;
  background-size: cover;
  color: black;
  display: flex;
  place-content: center;
  align-items: center;
  flex-flow: column wrap;
  .top-carusel{
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    place-content: center;
    span{
      font-size: 2vh;
    }
    h2{
      font-size: 6vh;
    }
  }
  .carousel-container{
    width: 1100px;
    height: 182.5px;
    overflow: hidden;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    position: relative;
    text-align: center;
    cursor: #474747;
    p{
      font-size: 3vh;
      color: #474747;
    }
    .carousel{
      display: flex;
      height: 100%;
      transition: transform .5s ease;
       z-index: 100;
      .slide{
        width: 1100px;
        height: 150px;
        display: flex;
        place-content: center;
        align-items: center;
      }
    }
    .carousel-indicator{
      display: flex;
      place-content: center;
      position: absolute;
      width: 100%;
      bottom: -5px;
      z-index: 1000;
      .indicator-dot{
        width: 45px;
        height: 45px;
        background: url('../IMG/flower.png') center no-repeat;
        background-size: contain;
        cursor: pointer;
        background-size: cover;
        transition: .5s;
      }
      .indicator-dot.active{
        background: url('../IMG/flowerChecked2.png') center no-repeat;
        background-size: contain;
        cursor: pointer;
        background-size: cover;
        transition: .5s;
      }
    }
  } 
}

